<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Article | 404 NOT FOUND</title>
    <link rel="shortcut icon" href="/logo.png" />
    <link rel="stylesheet" href="/styles/style404.css" />
  </head>
  <body>
    <div class="back">
      <img src="/background-img.jpeg" alt="" />
    </div>
    <div class="box">
      <h1>404 page not found</h1>
      <h1>頁面不存在</h1>
      <a href="/">點擊回到首頁</a>
      <a href="/profile1">點擊前往個人頁面</a>
    </div>
  </body>
</html>
