<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Article | ERROR</title>
    <link rel="shortcut icon" href="/logo.png" />
    <link rel="stylesheet" href="/styles/style404.css" />
  </head>
  <body>
    <div class="back">
      <img src="/background-img.jpeg" alt="" />
    </div>
    <div class="box">
      <h1>Something is broken.</h1>
      <h1>We will fix it soon.</h1>
      <h1>我們將盡快修復問題。</h1>
      <a href="/">點擊回到首頁</a>
    </div>
  </body>
</html>
