<% if (error != "") { %>
<div class="error" role="alert">
  <h1><%= error %></h1>
</div>
<% } %>

<!--break-->
<% if (error_msg != "") { %>
<div class="error" role="alert">
  <h1><%= error_msg %></h1>
</div>
<% } %>

<!--break-->
<% if (success_msg != "") { %>
<div class="error" role="alert">
  <h1><%= success_msg %></h1>
</div>
<% } %>
